H28_R4,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1744322281
R4_L1,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,2053071897
R4_L2,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,373476296
R4_L3L4_プロ,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1216482552
R4_L3L4_総合,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,802067227
R4_L3L4_生涯,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1019635739
R4_L3L4_科学,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1952270538
R4_L3L4_知識,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1463146221
R4_L3L4_情報,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1457898149
R4_L3L4_技能,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,757452927
R4_L3L4_コミュ,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,1143528508
R4_L3L4_連携,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,996218482
R4_L3L4_社会,1DP-lxdPuycXwBRHUgTTVuESpZDXUmvxbT-ezTs1ABTo,859526693
